
/* page background color */
body {
	background: rgba(0, 0, 0, 0.151) 
  
  }
/* ABOUT URBAN DANCE */
h1 {
	color: blueviolet;

	font-family: Arial, Helvetica, sans-serif;
	text-align: center;

}
/* Style the navbar */
#navbar {
	overflow: hidden;
	background-color: rgb(0, 0, 0);
  }
  
  /* Navbar links */
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
/* center youtube video */
.video {
	position: absolute;
    margin: auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h2{

	position: absolute;
    margin: auto;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blueviolet;
  }

  .testp{
	position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
  }

  /* our classes */
  h3 {
padding-top:16cm;
    	position: center;
	  color: blueviolet;
  font-size: 50px;
  text-align: center;
  }

/* Three image containers  OUR CLASSES*/
.row{
	display: flex;
    justify-content: center;
	margin-left:91px ;
}
.column1{
	width: 33.33%;
	padding: 5px;

  }
  
  /* Clear floats after image containers */

.column1 img {
	margin-top: 30px;
	width: 315px;
}
 .column1 p{
margin-left: 100px;

} 

h4{
  color: blueviolet;
  font-size: 50px;
  text-align: center;
}

/* Three image containers OUR COACH */
.row{
	display: flex;
    justify-content: center;
	margin-left:91px ;
}
.column2{
	width: 33.33%;
	padding: 5px;

  }

.column2 img {
	margin-top: 10px;
	width: 315px;
}

.column2 p{
  margin-left: 100px;
  
  } 


  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 50px 200px 
}
